In [1]:
import sqlite3 as sql

In [2]:
# Making data to later enter into database
data = [('Joe','7746 Dogwood Street','Tupelo','MS','38801','(767) 878-7941'),
        ('Ally','9102 High Noon St','Champaign','FL','61821','(449) 921-7791'),
        ('Mike','873 Taylor Dr','Champaign','DC','28803','(491) 582-1743'),
        ('Sally','9193 Court Rd','Villa Rica','MA','30180','(460) 388-5458'),
        ('Kim','8146 Whitemarsh Ave','Richardson','VA','75080','(447) 739-5440'),
        ('Gary','46 Cleveland Ave','Medford','GA','02155','(830) 417-8630'),
        ('Kyler','9650 10th Dr','Enterprise','OH','36330','(378) 962-0873'),
        ('Violet','86 Willow Ave','High Point','AK','28265','(373) 899-6367'),
        ('Muhammad','364 West Purple Finch Street','Haines City','CO','32725','(221) 396-3541'),
        ('Ricky','9421 Manor Station Lane','Deltona','MD','33844','(514) 493-4446')]

In [3]:
# Creating an initial connection
connection = sql.connect('User_Info.db')

# Cursor created to fetch results and initiate SQL statements
cursor = connection.cursor()

In [4]:
# Creating table and entering table headers
cursor.execute('CREATE TABLE IF NOT EXISTS New_Users (Name TEXT, Address TEXT, City TEXT, State TEXT, Zip INTEGER, Phone_Number INTEGER)')

# Inserting data into the table
cursor.executemany('INSERT INTO New_Users values (?,?,?,?,?,?)', data)

# Committing the data
connection.commit()

In [5]:
# For loop to read each SQL line and output a data that can be read
# Selecting only the users who have phone numbers that end with a 1 or from MD
for row in cursor.execute('SELECT * FROM New_Users WHERE Phone_Number LIKE "%1" OR State = "MD"'):
    print(row)

# Closing the connection
connection.close()

('Joe', '7746 Dogwood Street', 'Tupelo', 'MS', 38801, '(767) 878-7941')
('Ally', '9102 High Noon St', 'Champaign', 'FL', 61821, '(449) 921-7791')
('Muhammad', '364 West Purple Finch Street', 'Haines City', 'CO', 32725, '(221) 396-3541')
('Ricky', '9421 Manor Station Lane', 'Deltona', 'MD', 33844, '(514) 493-4446')